{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-5">

        <div class="row">
            <div class="col-md-6">
            {% include 'account/_menu.html.twig' %} </div>
             
            <div class="col-md-6">
            <h1 class="mb-4">Mes adresses</h1> 
             {{ form_start(addressForm) }} 
             <div class="col-md-6">{{ form_row(addressForm.firstname) }}</div>
             <div class="col-md-6">{{ form_row(addressForm.lastname) }}</div>
             <div class="col-md-6">{{ form_row(addressForm.address) }}</div>
             <div class="col-md-6">{{ form_row(addressForm.postal) }}</div>
             <div class="col-md-6">{{ form_row(addressForm.city) }}</div>
             <div class="col-md-6">{{ form_row(addressForm.country) }}</div>
             <div class="col-md-6">{{ form_row(addressForm.phone) }}</div>
             {{ form_end(addressForm) }} 
        </div>
</div>
{% endblock %}